.env
push_to_git.sh
pull_from_git.sh
.pdf
invoicing_venv
subscription_venv
webhook_venv
.key
config.cfg       
flask_monitoringdashboard.db
sub_venv
venv/
__pycache__/
*.pyc
tokens.json

# Python bytecode
__pycache__/
*.py[cod]

# Database bestanden
*.db
*.sqlite
*.sqlite3

# Specifieke database bestanden
klantenservice_applicatie/data/woocommerce.db
klantenservice_applicatie/data/subscriptions.db
klantenservice_applicatie/woocommerce.db
klantenservice_applicatie/subscriptions.db
klantenservice_applicatie/users.db
klantenservice_applicatie/data/users.db