.env
push_to_git.sh
pull_from_git.sh
.pdf
invoicing_venv
subscription_venv
webhook_venv
.key
config.cfg       
flask_monitoringdashboard.db
sub_venv
venv/
__pycache__/
*.pyc
.env
*.db



# Python bytecode
__pycache__/
*.py[cod]

# Database bestanden
*.db
*.sqlite
*.sqlite3

# Specifiek voor dit project
klantenservice_applicatie/data/users.db
users.db
klantenservice_applicatie/data/woocommerce.db